
.popcorn{
  background-image: url("../src/assets/Popcorn.jpeg");
  background: white;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size:cover;
  position:relative;
  opacity: 70%;
}

.title{
  position: absolute;
  top: 43%;
  left: 27%;
  font-size: 1vw;
  color: black;
  /* brings title to the front */
  z-index: 1; 
}

