
.popcorn{
  background-image: url("../src/assets/Popcorn.jpeg");
  background: white;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size:cover;
  position:relative;
  opacity: 70%;
}

.hero-text{
  position: absolute;
  top: 47%;
  left: 28%;
  font-size: 2vw;
  color: black;
}

