.main-footer{
    color: black;
    background-color: rgb(242, 74, 74);
    padding: 1%;
    position: bottom;
    position: sticky;
    width:100%;
    font-size:1.15vw;
    text-align: center;
}

li{
list-style: none;
}